<!DOCTYPE html>
<html lang="en">
<head th:replace="layout :: head"></head>
<body>
<nav th:replace="layout :: nav"></nav>

<div class="container mt-4">
    <h1>Confirm Deletion</h1>
    <p th:text="${'Are you sure you want to delete player \'' + player.name + '\'?'}"></p>
    <form method="post" th:action="@{'/players/' + ${player.id} + '/delete'}">
        <button type="submit" class="btn btn-danger">Yes, delete!</button>
        <a th:href="@{'/teams/' + ${player.team.id} + '/players'}" class="btn btn-secondary">No, cancel</a>
    </form>
</div>

</body>
</html>
